body{
  background-color: silver;
  color: black;
}
*{
  font-family: Verdana;
}
h1{
  color:purple;
  text-align: center;
}
fieldset{
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}
input,select,textarea{
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}
label{
  font-weight: bold;
}
#contato{
  text-align: center;
  font-weight: bold;
}
#manutencao {
  text-align: center;
}